{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load custom_tag %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class=" login">
        <!-- BEGIN LOGIN -->
        <div class="content">
            <form class="forget-form" action="" method="post">
                {% csrf_token %}
                <h3>Forget Password ?</h3>
                <p> Enter your e-mail address below to reset your password. </p>
                {% for field in form %}
                    {% if field.errors %}
                    <div class="form-group  has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label class="control-label">{{ field.label }}</label>
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            {{ field | add_class:'form-control placeholder-no-fix'}}
                        </div>
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                    <div class="form-actions">
                        <button type="submit" class="btn green"  style="width: 100%"> Submit </button>
                    </div>

            </form>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
